In [121]:
import pandas as pd
import numpy as np

In [122]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score

# Reading Data

In [142]:
df = pd.read_csv('Dataset/NSL_new.csv')

In [143]:
df = df.sample(n=4000)

In [144]:
X = df.drop(['label'], axis=1)
y = df['label']

In [145]:
scoring_metrics = {'accuracy' : make_scorer(accuracy_score), 
           'precision' : make_scorer(precision_score, average="micro"),
           'recall' : make_scorer(recall_score, average="micro"), 
           'f1_score' : make_scorer(f1_score, average="micro")}

In [146]:
df.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,label
45984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,neptune
75048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,neptune
67299,0,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,ipsweep
46007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,neptune
77018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal

In [147]:
X.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
45984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
75048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
67299,0,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
46007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
77018,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [148]:
y.head()

45984    neptune
75048    neptune
67299    ipsweep
46007    neptune
77018     normal
Name: label, dtype: object

In [149]:
y = y.replace( to_replace =  'normal' , value = 0 )

y = y.replace( to_replace =  'neptune' , value = 1 )
y = y.replace( to_replace =  'back' , value = 1 )
y = y.replace( to_replace =  'land' , value = 1 )
y = y.replace( to_replace =  'pod' , value = 1 )
y = y.replace( to_replace =  'smurf' , value = 1 )
y = y.replace( to_replace =  'teardrop' , value = 1 )
y = y.replace( to_replace =  'mailbomb' , value = 1 )
y = y.replace( to_replace =  'apache2' , value = 1 )
y = y.replace( to_replace =  'processtable' , value = 1 )
y = y.replace( to_replace =  'udpstorm' , value = 1 )
y = y.replace( to_replace =  'worm' , value = 1 )

y = y.replace( to_replace =  'ipsweep' , value = 2 )
y = y.replace( to_replace =  'nmap' , value = 2 )
y = y.replace( to_replace =  'portsweep' , value = 2 )
y = y.replace( to_replace =  'satan' , value = 2 )
y = y.replace( to_replace =  'mscan' , value = 2 )
y = y.replace( to_replace =  'saint' , value = 2 )

y = y.replace( to_replace =  'ftp_write' , value = 3 )
y = y.replace( to_replace =  'guess_passwd' , value = 3 )
y = y.replace( to_replace =  'imap' , value = 3)
y = y.replace( to_replace =  'multihop' , value = 3 )
y = y.replace( to_replace =  'phf' , value = 3 )
y = y.replace( to_replace =  'spy' , value = 3 )
y = y.replace( to_replace =  'warezclient' , value = 3 )
y = y.replace( to_replace =  'warezmaster' , value = 3 )
y = y.replace( to_replace =  'sendmail' , value = 3 )
y = y.replace( to_replace =  'snmpgetattack' , value = 3 )
y = y.replace( to_replace =  'snmpguess' , value = 3 )
y = y.replace( to_replace =  'xlock' , value = 3 )
y = y.replace( to_replace =  'xsnoop' , value = 3 )
y = y.replace( to_replace =  'httptunnel' , value = 3 )

y = y.replace( to_replace =  'buffer_overflow' , value = 4 )
y = y.replace( to_replace =  'loadmodule' , value = 4 )
y = y.replace( to_replace =  'perl' , value = 4 )
y = y.replace( to_replace =  'rootkit' , value = 4 )
y = y.replace( to_replace =  'ps' , value = 4 )
y = y.replace( to_replace =  'sqlattack' , value = 4  )
y = y.replace( to_replace =  'xterm' , value = 4 )

y = y.replace( to_replace =  'unknown' , value = 5 )

In [150]:
y.head()

45984    1
75048    1
67299    2
46007    1
77018    0
Name: label, dtype: int64

# Feature Selection

In [151]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import SelectKBest, chi2

In [152]:
print("before transform:",X)
selector=SelectKBest(score_func=chi2,k=25)
fit = selector.fit(X,y)
features = fit.transform(X)
print("scores_:",fit.scores_)
print("pvalues_:",fit.pvalues_)
print("selected index:",fit.get_support(True))
print("after transform:",fit.transform(X)) 
X = fit.transform(X)

before transform:         duration  src_bytes  dst_bytes  land  wrong_fragment  urgent  hot  \
45984          0          0          0     0               0       0    0
75048          0          0          0     0               0       0    0
67299          0          8          0     0               0       0    0
46007          0          0          0     0               0       0    0
77018          0          0          0     0               0       0    0
...          ...        ...        ...   ...             ...     ...  ...
73941          0          0          0     0               0       0    0
60647          0          0          0     0               0       0    0
109815         1        941        327     0               0       0    0
124726         0          0          0     0               0       0    0
49634          0         45        128     0               0       0    0

        num_failed_logins  logged_in  num_compromised  ...  flag_REJ  \
45984                   0          0                0  ...         0
75048                   0          0                0  ...         0
67299                   0          0                0  ...         0
46007                   0          0                0  ...         0
77018                   0          0                0  ...         1
...                   ...        ...              ...  ...       ...
73941                   0          0                0  ...         1
60647                   0          1                0  ...         0
109815                  0          1                0  ...         0
124726                  0          0                0  ...         0
49634                   0          0                0  ...         0

        flag_RSTO  flag_RSTOS0  flag_RSTR  flag_S0  flag_S1  flag_S2  flag_S3  \
45984           0            0          0        1        0        0        0
75048           0            0          0        1        0        0        0
67299           0            0          0        0        0        0        0
46007           0            0          0        1        0        0        0
77018           0            0          0        0        0        0        0
...           ...          ...        ...      ...      ...      ...      ...
73941           0            0          0        0        0        0        0
60647           1            0          0        0        0        0        0
109815          0            0          0        0        0        0        0
124726          0            0          0        1        0        0        0
49634           0            0          0        0        0        0        0

        flag_SF  flag_SH
45984         0        0
75048         0        0
67299         1        0
46007         0        0
77018         0        0
...         ...      ...
73941         0        0
60647         0        0
109815        1        0
124726        0        0
49634         1        0

[4000 rows x 122 columns]
scores_: [3.68638804e+06 2.02438661e+08 5.24949326e+06            nan
 1.14795699e+02            nan 3.61441998e+03 8.50129264e+01
 1.22538804e+03 1.40372668e+02 7.30055856e+02 2.61534862e+00
 3.30380908e+02 9.41073801e+01 8.71782873e-01 1.83864628e+01
            nan            nan 1.34680709e+02 2.79408468e+05
 1.08102595e+04 1.77401538e+03 1.78587408e+03 4.65872190e+02
 4.74689143e+02 8.07116227e+02 2.67585596e+02 2.76438849e+02
 5.55223504e+04 2.08174343e+05 7.86197577e+02 5.30543935e+02
 6.66828446e+02 3.36547813e+02 1.75189081e+03 1.82199297e+03
 3.42851122e+02 4.83316992e+02 3.89447448e+02 5.26211472e+01
 2.14310668e+02 3.48713149e+00 3.48713149e+00 4.38924731e+01
            nan 2.33458155e+01 3.54516129e+01 4.38924731e+01
 2.41687029e+01 2.53225806e+01 2.70107527e+01 3.21607873e+01
 3.71397849e+01 2.26663547e+02 1.85698925e+01 9.46987960e+02
 1.60489916e+02 1.85698925e+01 1.85698925e+01 1.15736649e+01
 8.29949995e+01 3.02451155e+02 1.60803936e+01            nan
 5.06451613e+01 8.75244906e+02            nan 2.19462366e+01
            nan 3.88279570e+01 4.38924731e+01 1.68817204e+01
 1.68817204e+01 2.19462366e+01 8.44086022e+00 2.86989247e+01
 2.74387492e+01 2.36344086e+01 1.29437842e+01 1.51935484e+01
 1.35053763e+01 2.02580645e+01 3.20752688e+01 8.49572857e+00
 1.74356575e+00 1.82359761e+02            nan 5.06451613e+00
 1.33613598e+00 5.06451613e+00 7.16193938e+02 8.71782873e-01
 5.94133182e+00 4.48286487e+00 3.37634409e+00 1.56723678e+02
 1.18172043e+01 1.51935484e+01 1.85698925e+01 2.74559815e+01
 2.19462366e+01 1.34025496e+02            nan 8.71782873e-01
 3.74033201e+01            nan 2.00510061e+01 5.40215054e+01
 2.70107527e+01 3.03870968e+01 2.68951484e+01 1.06959064e+01
 2.39935007e+02 3.63253529e+01 1.06959064e+01 5.40803988e+02
 1.84610272e+03 5.23069724e+00 2.61534862e+00 8.71782873e-01
 1.05501402e+03 8.55672515e+01]
pvalues_: [0.00000000e+000 0.00000000e+000 0.00000000e+000             nan
 6.89965793e-024             nan 0.00000000e+000 1.50740993e-017
 4.99253001e-264 2.34887061e-029 1.08118352e-156 6.24106604e-001
 3.01511221e-070 1.76428528e-019 9.28573659e-001 1.03691276e-003
             nan             nan 3.88269074e-028 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 1.60781668e-099
 1.99419428e-101 2.20759335e-173 1.05728697e-056 1.30546866e-058
 0.00000000e+000 0.00000000e+000 7.49842968e-169 1.65643277e-113
 5.30063141e-143 1.40656875e-071 0.00000000e+000 0.00000000e+000
 6.12951985e-073 2.71671517e-103 5.29913105e-083 1.02280747e-010
 3.14107046e-045 4.79837725e-001 4.79837725e-001 6.75432619e-009
             nan 1.07993309e-004 3.75163519e-007 6.75432619e-009
 7.38898946e-005 4.33274570e-005 1.97796489e-005 1.77366523e-006
 1.68572454e-007 6.89926901e-048 9.54555338e-004 1.09750861e-203
 1.14776735e-033 9.54555338e-004 9.54555338e-004 2.08198560e-002
 4.03857572e-017 3.20666610e-064 2.91316293e-003             nan
 2.64771614e-010 3.84657554e-188             nan 2.05419920e-004
             nan 7.56038516e-008 6.75432619e-009 2.03794544e-003
 2.03794544e-003 2.05419920e-004 7.67002499e-002 8.99913661e-006
 1.62046880e-005 9.45467680e-005 1.15537660e-002 4.31616866e-003
 9.05309557e-003 4.44093672e-004 1.84651640e-006 7.50168073e-002
 7.82789475e-001 2.32122415e-038             nan 2.80741568e-001
 8.55215389e-001 2.80741568e-001 1.08561072e-153 9.28573659e-001
 2.03572699e-001 3.44584101e-001 4.96927759e-001 7.37050979e-033
 1.87636306e-002 4.31616866e-003 9.54555338e-004 1.60750700e-005
 2.05419920e-004 5.36196024e-028             nan 9.28573659e-001
 1.48756192e-007             nan 4.87952743e-004 5.20839525e-011
 1.97796489e-005 4.08195110e-006 2.08731338e-005 3.02027958e-002
 9.58173109e-051 2.48031026e-007 3.02027958e-002 9.98893524e-116
 0.00000000e+000 2.64434861e-001 6.24106604e-001 9.28573659e-001
 4.26253319e-227 1.14979165e-017]
selected index: [  0   1   2   6   8  10  19  20  21  22  25  28  29  30  31  32  34  35
  37  55  65  90 115 116 120]
after transform: [[  0.   0.   0. ...   0.   1.   0.]
 [  0.   0.   0. ...   0.   1.   0.]
 [  0.   8.   0. ...   0.   0.   1.]
 ...
 [  1. 941. 327. ...   0.   0.   1.]
 [  0.   0.   0. ...   0.   1.   0.]
 [  0.  45. 128. ...   0.   0.   1.]]

# SVM

In [153]:
from sklearn import svm

In [154]:
svmModel = svm.SVC(gamma='scale')
print(X.shape)

(4000, 25)

In [155]:
svmScore = cross_validate(svmModel, X, y, cv=4, scoring=scoring_metrics, verbose=15 ,n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:   20.4s
[Parallel(n_jobs=-1)]: Done   2 out of   4 | elapsed:   22.8s remaining:   22.8s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:   24.3s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:   24.3s finished

In [156]:
ss = pd.DataFrame(svmScore)

In [157]:
ss.head()

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,1.957602,1.667826,0.534930,0.534930,0.534930,0.534930
1,1.727815,1.891914,0.533467,0.533467,0.533467,0.533467
2,1.973010,1.916206,0.534535,0.534535,0.534535,0.534535
3,2.008176,1.848874,0.536072,0.536072,0.536072,0.536072

# Random Forest

In [158]:
from sklearn.ensemble import RandomForestClassifier

In [159]:
randomForestModel = RandomForestClassifier(max_depth=2, random_state=0, n_estimators=100)

In [160]:
randomForestScore = cross_validate(randomForestModel, X, y, cv=4, scoring=scoring_metrics, verbose=3 ,n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    3.6s finished

In [161]:
randomForestScore = pd.DataFrame(randomForestScore)

In [162]:
randomForestScore.to_csv('NSL_RandomForest_scores_ChiSquared.csv')

In [69]:
from sklearn.model_selection import GridSearchCV
import numpy as np

In [70]:
rf_parameters={'n_estimators' : range(80,200,20),'max_depth': range(1,20,3), 'min_samples_split': np.arange(0.1,1,0.1)}

In [71]:
rf2 = RandomForestClassifier()

In [72]:
dlGrid = GridSearchCV(rf2, rf_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [73]:
dlGrid.fit(X, y)

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 378 candidates, totalling 1134 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    5.5s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   26.8s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 1134 out of 1134 | elapsed:  5.0min finished

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=Fa...
                         'min_samples_split': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'n_estimators': range(80, 200, 20)},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [74]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,param_n_estimators,params,split0_test_accuracy,split1_test_accuracy,...,split2_test_recall,mean_test_recall,std_test_recall,rank_test_recall,split0_test_f1_score,split1_test_f1_score,split2_test_f1_score,mean_test_f1_score,std_test_f1_score,rank_test_f1_score
0,0.847261,0.178225,0.491494,0.242463,1,0.1,80,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.854042,0.858965,...,0.854245,0.85575,0.002274,116,0.854042,0.858965,0.854245,0.85575,0.002274,116
1,1.176332,0.184932,0.356039,0.166700,1,0.1,100,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.853293,0.858965,...,0.853494,0.85525,0.002627,189,0.853293,0.858965,0.853494,0.85525,0.002627,189
2,0.970507,0.454119,0.605512,0.292350,1,0.1,120,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.853293,0.858215,...,0.854245,0.85525,0.002132,189,0.853293,0.858215,0.854245,0.85525,0.002132,189
3,1.249456,0.592748,0.870990,0.468795,1,0.1,140,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.854042,0.857464,...,0.854996,0.85550,0.001442,141,0.854042,0.857464,0.854996,0.85550,0.001442,141
4,1.348267,0.633221,0.817804,0.384856,1,0.1,160,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.854042,0.858215,...,0.854245,0.85550,0.001921,141,0.854042,0.858215,0.854245,0.85550,0.001921,141

In [163]:
dt3=dlGrid.best_estimator_

In [164]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    3.7s finished

In [165]:
pd.DataFrame(dtFinalScore)

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,1.185003,0.404341,0.965070,0.965070,0.965070,0.965070
1,1.307676,0.291692,0.967033,0.967033,0.967033,0.967033
2,1.174940,0.442456,0.961962,0.961962,0.961962,0.961962
3,1.197099,0.422419,0.963928,0.963928,0.963928,0.963928

In [166]:
dtFinalScore['test_accuracy'].mean()

0.9644981612464483

# Neural Network

In [167]:
from sklearn.neural_network import MLPClassifier

In [168]:
mlpModel = MLPClassifier()

In [169]:
mlpScore=cross_validate(mlpModel, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:   10.7s finished

In [170]:
mlpModel

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [171]:
mlpScore = pd.DataFrame(mlpScore)

In [172]:
mlpScore.to_csv('NSL_MLP_scores_ChiSquared.csv')

In [173]:
nLayers=[
    (4),
    (7),
    (10), #one layer of 10 nodes
    (13),
    (17),
    (20),
    (30),
    (50),
    (80),
    (100),
    (120),
    (140),
    (180),
    (220),
    (10, 10), #two layers, 10 nodes each
    (20, 20), #two layers, 20 nodes each
    (30, 30),
    (50, 50),
    (80, 80),
    (100, 100),
    (150, 150),
    (10, 10, 10), #three layers, 10 nodes each
    (20, 20, 20),
    (30, 30, 30),
    (50, 50, 50),
    (80, 80, 80),
]

In [174]:
mlp_parameters = {
    'hidden_layer_sizes': nLayers,
    'solver': ['sgd', 'adam'],
    'alpha': [0.001, 0.01, 0.05],
    'learning_rate': ['constant','adaptive'],
}

In [175]:
X_sample=X.sample(frac=0.2, random_state=1)
y_sample=y.sample(frac=0.2, random_state=1)

AttributeError: 'numpy.ndarray' object has no attribute 'sample'

In [88]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [89]:
from sklearn.neural_network import MLPClassifier
mlpModel2 = MLPClassifier()

In [90]:
mlp_grid = GridSearchCV(mlpModel2, mlp_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [ ]:
mlp_grid.fit(X_sample, y_sample)

Fitting 3 folds for each of 312 candidates, totalling 936 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 tasks      | elapsed:    2.8s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:   23.8s
[Parallel(n_jobs=-1)]: Done 336 tasks      | elapsed:   44.9s
[Parallel(n_jobs=-1)]: Done 560 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 848 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 936 out of 936 | elapsed:  2.7min finished
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [ ]:
mlpGridScores=pd.DataFrame(mlp_grid.cv_results_)
mlpGridScores.head()
mlpGridScores.to_csv('NSL_ANN_GridSearch_ChiSquared.csv')

In [ ]:
mlpFinalModel = mlp_grid.best_estimator_
mlp_grid.best_params_

In [ ]:
mlpFinalScore=cross_validate(mlpFinalModel, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
mlpFinalScore = pd.DataFrame(mlpFinalScore)
mlpFinalScore.to_csv('NSL_MLP_Scores_ChiSquared')

In [ ]:
mlpFinalScore['test_accuracy'].mean()

# Decision Trees

In [ ]:
from sklearn.tree import tree

In [ ]:
dt=tree.DecisionTreeClassifier()

In [ ]:
dtScore = cross_validate(dt, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
dtScore = pd.DataFrame(dtScore)

In [ ]:
dtScore.to_csv('NSL_dtScore_scores_ChiSquared.csv')

In [ ]:
dt_parameters={'min_samples_split' : range(10,500,20),'max_depth': range(1,20,2)}

In [ ]:
dt2 = DecisionTreeClassifier()

In [ ]:
dlGrid = GridSearchCV(dt2, dt_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=4)

In [ ]:
dlGrid.fit(X, y)

In [ ]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()
dtGridScores.to_csv('NSL_DT_GridSearch_ChiSquared')

In [ ]:
dt3=dlGrid.best_estimator_
dlGrid.best_params_

In [ ]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
dtFinalScore = pd.DataFrame(dtFinalScore)
dtFinalScore.to_csv('NSL_DT_Scores_ChiSquared')
dtFinalScore['test_accuracy'].mean()

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier()

In [ ]:
k_range = list(range(1, 101, 5))

In [ ]:
param_dict = dict(n_neighbors=k_range)

In [ ]:
grid = GridSearchCV(knn, param_dict, cv=4, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1)

In [ ]:
grid.fit(X, y)

In [ ]:
knnScore = pd.DataFrame(grid.cv_results_)
knnScore.to_csv('NSL_KNN_GridSearch_ChiSquared.csv')

In [ ]:
knn2=grid.best_estimator_
grid.best_params_

In [ ]:
knnFinalScore = cross_validate(knn2, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
pd.DataFrame(knnFinalScore)

In [ ]:
knnFinalScore.to_csv('NSL_KNN_scores_ChiSquared')

In [ ]:
pd.DataFrame(linearScore).mean()

In [ ]:
pd.DataFrame(mlpScore).mean()

In [ ]:
knnFinalScore = pd.DataFrame(knnFinalScore)
knnFinalScore.to_csv('NSL_KNN_Scores_ChiSquared')

# All Results

In [ ]:
allResults=pd.concat([
    pd.DataFrame(mlpScore).mean(),
    pd.DataFrame(dtFinalScore).mean(),
    pd.DataFrame(knnFinalScore).mean(),
    pd.DataFrame(ss).mean()
], axis=1)
allResults

In [ ]:
allResults.rename(columns={0:'Multi-level Perceptron', 1:'Decision Tree', 2:'KNN' , 3:'SVM' },  inplace=True)
allResults

# All Results